body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15px;
    background: #f2f2f2;
}

.main-title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 25px;
}

.activity-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.activity-card h2 {
    margin: 10px 0;
    font-size: 20px;
}

.activity-card img {
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

.activity-card img.completed {
    filter: grayscale(100%);
    opacity: 0.5;
}

.checkbox-area {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox-area input {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}